## Python Basics

### Comments

In [1]:
# this is the first comment
spam = 1  # and this is the second comment
          # ... and now a third!
text = "# This is not a comment because it's inside quotes."
print(text)

# This is not a comment because it's inside quotes.

### Variables

As in other programming languages, it is often essential to save values for later using variables in Python. Python assigns values to variables using the equals sign (=):

In [8]:
length = 15
length = 'fifteen'

### Strings

In [5]:
'spam eggs'

'spam eggs'

In [6]:
"spam eggs"

'spam eggs'

In [7]:
prefix = 'Py'
prefix += 'thon'

In [9]:
print(prefix)

Python

In [10]:
word = 'Python'
word[0]

'P'

In [13]:
word[-1]

'n'

In [14]:
word[-2]

'o'

In [18]:
word[0:2]

'Py'

In [19]:
word[:2]

'Py'

In [17]:
word[4:]

'on'

### Lists

In [21]:
beatles = ['John', 'Paul']
beatles

['John', 'Paul']

In [22]:
beatles.append('George')
beatles

['John', 'Paul', 'George']

In [23]:
beatles.index('George')

2

In [24]:
beatles.count('John')

1

In [25]:
beatles.remove('Paul')
beatles

['John', 'George']

In [28]:
beatles.reverse()
beatles

['George', 'John']

In [30]:
beatles.sort()
beatles

['George', 'John']

### Dictionaries

In [31]:
capitals = {'France': 'Paris'}
capitals

{'France': 'Paris'}

In [32]:
capitals['France']

'Paris'

In [34]:
capitals['India'] = 'Delhi'
capitals

{'France': 'Paris', 'India': 'Delhi'}

### Control Flow

### 1. If statements

In [36]:
y = 1
if y%2 == 0:
    print('Even')
elif y == 1:
    print('One')
else:
    print('Odd')

One

### 2. For loops

In [37]:
colors = ['red', 'yellow', 'blue']
for color in colors:
    print(color)

red
yellow
blue